{% extends 'dashboard/dashboard_base.html' %}
{% block content  %}
<h2>Updates</h2>
<button type="button" class="btn btn-primary">Check Again</button>
<p>if you need to re-install version 4.2.2. you can do so here or download the package and re-install manually</p>
<button type="button" class="btn btn-secondary">Re-install Now</button>
<button type="button" class="btn btn-secondary">Download 4.2.2</button>
<h3>plugins</h3>
<p> Your plugins are all up to date</p>
<h4>Themes</h4>
<p>Your themes are all up to date</p>
{% endblock %}