<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        body{
        background:green;
        text-alignment:center;
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"></a>
        <ul class="nav navbar-nav navbar-center">
            {% if user.is_authenticated %}
           {%  include 'sidebar.html' %}


            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
            {% endif %}

        </ul>
    </div>
</nav>
<div class="container my content">
    {% block content %}


    {% endblock %}

</div>

</body>
</html>